body {
    padding: 0px;
    margin: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: #2d16b13a;
    background-size: 100%;
}

.middle{
    padding: 0;
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: #ffffff;
    width: 50%;
    align-items: center;
    border-bottom: 3px solid rgba(0, 0, 0, 0.466);
    border-left: 3px solid rgba(0, 0, 0, 0.466);
    border-right: 3px solid rgba(0, 0, 0, 0.466);
}

.list{
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: row;
    align-content: center;
}

.list li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    text-align: center;
    flex-direction: column;
    align-content: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    margin: auto;
    padding-right: 50px;
}

.photo img{
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin: auto;
}

.top{
    padding: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    width: 50%;
    margin: auto;
    border-top: 3px solid rgba(0, 0, 0, 0.466);
    border-left: 3px solid rgba(0, 0, 0, 0.466);
    border-right:3px solid rgba(0, 0, 0, 0.466);
    background-color: #ffffff;
}

.description{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}µ
.description p{
    text-align: center;
}

.subheader{
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    background-color: #ffffff;
    width: 50%;
    margin: auto;
    border-left: 3px solid rgba(0, 0, 0, 0.466);
    border-right:3px solid rgba(0, 0, 0, 0.466);
    padding: 0;
}

.odyssey{
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin: auto;
    background-color: #ffffff;
    width: 50%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    border-left: 3px solid rgba(0, 0, 0, 0.466);
    border-right:3px solid rgba(0, 0, 0, 0.466);
    border-top: 3px solid rgba(0, 0, 0, 0.466);
}

.hulot{
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin: auto;
    background-color: #ffffff;
    width: 50%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    border-left: 3px solid rgba(0, 0, 0, 0.466);
    border-right:3px solid rgba(0, 0, 0, 0.466);
}

.alien{
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin: auto;
    background-color: #ffffff;
    width: 50%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    border-left: 3px solid rgba(0, 0, 0, 0.466);
    border-right:3px solid rgba(0, 0, 0, 0.466);
    border-bottom:3px solid rgba(0, 0, 0, 0.466);
}

.odysseycontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.odysseycontent p{
    text-align: center;
}

.hulotcontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.hulotcontent p{
    text-align: center;
}

.aliencontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.aliencontent p{
    text-align: center;
}

a{
    text-decoration:none;
    color:#cc0000;
}

a.button,div.container{
    float:left;
}

a.button{
    background-color:#cc0000;
    border:1px solid #660000;
    border-radius:5px;
    color:#fff;
    margin-right:10px;
    padding:10px 10px 10px 10px;
    margin: auto;
}


